body {
  font-family: "Poppins", sans-serif;
  background: #f7e9d7;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fffaf3;
  border: 3px solid #000;
  width: 700px;
  padding: 25px 40px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  background: #000;
  color: white;
  padding: 5px 20px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
}

header h3 {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.task-section {
  text-align: center;
  margin-top: 10px;
}

.task-section h1 {
  background: #ff4b2b;
  color: white;
  padding: 10px;
  font-size: 2.5rem;
  margin: 0;
}

.task-section h2 {
  font-size: 1.4rem;
  margin-top: 10px;
  letter-spacing: 1px;
}

.instructions {
  margin-top: 25px;
}

.instructions h3 {
  background: #ff4b2b;
  color: white;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 5px;
}

.instructions ul {
  margin-top: 15px;
  padding-left: 20px;
}

.instructions li {
  margin: 10px 0;
  line-height: 1.5;
  font-weight: 500;
}

footer {
  border-top: 2px solid #000;
  margin-top: 30px;
  padding-top: 20px;
  text-align: center;
}

footer p {
  font-size: 0.9rem;
  font-weight: 600;
  color: #222;
}

.footer-box {
  display: inline-block;
  background: #ff4b2b;
  color: #fff;
  font-weight: 700;
  padding: 10px 25px;
  margin-top: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
}
